@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BankBranch

<ul>
    <li>@Model.Id</li>
    <li>@Model.LocationName</li>
    <li>@Model.LocationURL</li>
    <li>@Model.BranchManager</li>
    <li>@Model.EmployeeCount</li>
</ul>
